

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 background colar:indigo;
	
}

body {
    background-color: pink;
}

.wrapper .header {
    width: 800%;
    height: 50px;
    background: #e36686;
    border: 8px black;
    color: #fff;
    text-align: center;
    display :flex;
    justify-content: center;
    align-items: non;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 600;
}

.cards_wrap {
    padding: 25px;
    width: 800%;
    display:absolute;
    justify-content: space-between;
    flex-wrap: wrap;
  

}


.card_itmes {
    padding: 25px 35px;
    width: 25%;

}

.cards_wrap .card_inner
 {
    backgroundp:pink;
    border-radius: 6px;
    padding: 35px 20px;
    min-width: 200px;
    min-height: 325px;
   width: 100%
}
.cards_wrap .card_inner img
{
	width: 60px;
	height: 80px;
	margin-bottom: 7px;
}
.cards_wrap .card_inner .role_name
{
	color: aquamarine;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 10px;
	white-space: nowrap;
    overflow: hidden;
    
}

.card_itmes.cards_wrap .real_name
{
	color: yellow;
   
	font-size: 25px;
	font-weight: 220;
	margin: 5px 0 10px;
}


.cards_wrap .card_itmes .about us
{
	font-size: 25px;
	line-height: 24px;
	color:blue;
}
@media screen and (max-width: 1825px)
{
	.cards_wrap .card_itmes{
		width: 36%;
	}
}

@media screen and (max-width: 800px)
{
	.cards_wrap .card_itmes{
		width: 70%;
	}
	.wrapper .header{
		font-size: 150px;
		height: 70px;
	}
}

@media screen and (max-width: 110px)
{
	.cards_wrap .card_itmes{
		width: 100%;
	}
	.wrapper .header{
		font-size: 25px;
	}
}
