* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero_image {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/80/859/695/coffee-beans-couple-wallpaper-preview.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero_wrapper {
    color: black;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hero_wrapper h1 {
    font-size: 2.3rem;
    text-align: center;

}

.form_code {
    text-align: center;

}

.form_code .post_code {
    display: block;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2rem;
    padding: .5rem;
    border: none;
    outline: none;
}

.form_code button {
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aqua;
    margin-top: 1rem;
    color: black;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}


