* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero_image {
    background-image: (https://c4.wallpaperflare.com/wallpaper/80/859/695/coffee-beans-couple-wallpaper-preview.jpg);
    height: 590vh;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;

}

.hero_wrapper {
    color: red;
    position:absolute;
    top: 60%;
    left: 75%;
    transform: translate(50%, -50%);

}

.hero_wrapper h1 {
    font-size: 4.6px;
    text-align: center;

}

.form_code {
    text-align: center;

}

.form_code .post_code {
    display: login;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3rem;
    padding: .4rem;
    border:  4px;
    outline: none;
}

.form_code button {
    width:  80%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: yellow;
    margin-top: 3rem;
    color: red;
    padding: .4rem;
    border: none;
    border-radius: .4rem;
}


