* {
    margin: 3;
    padding: 3;
    box-sizing: border-box;
}


.hero_image {
    background-image: (https://c4.wallpaperflare.com/wallpaper/80/859/695/coffee-beans-couple-wallpaper-preview.jpg);
    height: 200vh;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;

}

.hero_wrapper {
    color: balue;
    position:relative;
    top: 60%;
    left: 70%;
    transform: translate(60%, -50%);

}

.hero_wrapper h1 {
    font-size: 2.3rem;
    text-align:   center;

}

.form_code {
    text-align: center;

}

.form_code .post_code {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2rem;
    padding: .5rem;
    border:  1 px;
    outline: none;
}

.form_code button {
    width: 90%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:gray black;
    margin-top: 2rem;
    color: black;
    padding: .5rem;
    border: none;
    border-radius: .6rem;
}


