* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero_image {
    background-image: (https://c4.wallpaperflare.com/wallpaper/80/859/695/coffee-beans-couple-wallpaper-preview.jpg);
    height: 550vh;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;

}

.hero_wrapper {
    color: blue;
    position:absolute;
    top: 40%;
    left: 90%;
    transform: translate(60%, -50%);

}

.hero_wrapper h1 {
    font-size: 5.8px;
    text-align: frent;

}

.form_code {
    text-align: center;

}

.form_code .post_code {
    display: login;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2rem;
    padding: .6rem;
    border:  4px;
    outline: none;
}

.form_code button {
    width:  85%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:blue;
    margin-top: 3rem;
    color: red;
    padding: .6rem;
    border: none;
    border-radius: .6rem;
}


