

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(201, 201, 193);
}

.wrapper .header {
    width: 200%;
    height: 60px;
    background: #e36686;
    border: 6px white;
    color: #fff;
    text-align: center;
    display:absolute;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
}

.cards_wrap {
    padding: 25px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  

}


.card_itmes {
    padding: 15px 25px;
    width: 25%;

}

.cards_wrap .card_inner
 {
    background:yellow;
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 325px;
   width: 100%
}
.cards_wrap .card_inner img
{
	width: 80px;
	height: 80px;
	margin-bottom: 6px;
}
.cards_wrap .card_inner .role_name
{
	color: #e36686;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    
}

.card_itmes.cards_wrap .real_name
{
	color: gry;
   
	font-size: 12px;
	font-weight: 200;
	margin: 5px 0 10px;
}


.cards_wrap .card_itmes .about us
{
	font-size: 15px;
	line-height: 25px;
	color:blue;
}
@media screen and (max-width: 1025px)
{
	.cards_wrap .card_itmes{
		width: 35%;
	}
}

@media screen and (max-width: 765px)
{
	.cards_wrap .card_itmes{
		width: 50%;
	}
	.wrapper .header{
		font-size: 15px;
		height: 60px;
	}
}

@media screen and (max-width: 565px)
{
	.cards_wrap .card_itmes{
		width: 100%;
	}
	.wrapper .header{
		font-size: 15px;
	}
}
